html{
    background-color:rgb(196, 196, 196);
    font-family: 'Sansita Swashed', cursive;
}

h1 {
    text-align: center;
    background-image: linear-gradient(45deg,aquamarine ,rgb(52, 151, 218), rgb(8, 230, 8));
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}


.loginhead {
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    margin: 1%;
    font-size:2vw;
    width: 50%;
}



.logIn_button {
    border-radius: 20px;
    background-image: linear-gradient(45deg,aquamarine ,rgb(52, 151, 218), rgb(8, 230, 8));
    outline: none;
    padding: 10px;
}

.news {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}


.news1container{
    background-color: grey;
    border: solid;
    border-radius: 20px;
    padding: 20px;
    
}




.username {
    border-radius: 20px;
    height: 25px;
    width: 50%;
    outline: none;
    padding: 5px;
    
}

.password {
    border-radius: 20px;
    height: 25px;
    width: 50%;
    outline: none;
    padding:5px;
}

.announcements{
    width: 50%;
    margin: 1%;
    
}
.logandnewscontainer{
    display: flex;
}

  
  @media screen and (max-width: 800px) {
   
    .logandnewscontainer{
        display: inline;
    }

    .announcements{
        width: 100%;
        
    }

    .loginhead {
        width: 100%;
    }


  }

  .Welcomehead {
      padding: 20px;
  }

  .loginbuttondiv {
      padding: 20px;
  }