html{
    background-color:rgb(196, 196, 196);
    font-family: 'Sansita Swashed', cursive;
}

h1 {
    text-align: center;
    background-image: linear-gradient(45deg,aquamarine ,rgb(52, 151, 218), rgb(8, 230, 8));
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px    ;
    
    width: 100%;
}


.loginhead {
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    
    font-size:2vw;
    width: 33.3%;
    margin-bottom: 1%;
}



.logIn_button {
    border-radius: 20px;
    background-image: linear-gradient(45deg,aquamarine ,rgb(52, 151, 218), rgb(8, 230, 8));
    outline: none;
    padding: 10px;
}

.news {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}


.news1container{
    background-color: grey;
    border: solid;
    border-radius: 20px;
    padding: 20px;
    
}




.username {
    border-radius: 20px;
    height: 25px;
    width: 50%;
    outline: none;
    padding: 5px;
    
}

.password {
    border-radius: 20px;
    height: 25px;
    width: 50%;
    outline: none;
    padding:5px;
}

.announcements{
    width: 33.3%;
    margin: 1%;
    margin-bottom: 1%;
    
}
.logandnewscontainer{
    display: flex;
}

.discordinvite{
    width: 30%;
    border-radius: 20px ;
    margin-bottom: 1%;
}

.Welcomehead {
    padding: 20px;
}

.loginbuttondiv {
    padding: 20px;
}



  
@media screen and (min-width: 10.75em) {
   
    .logandnewscontainer{
        display: inline;
    }

    .announcements{
        width: 100%;
        
    }

    .loginhead {
        width: 100%;
    }

    .discordinvite{
        width: 100%;
    }

    .discordwidget{
        width: 100%;
        
    }


}






@media screen and (min-width: 40.5em){
    .logandnewscontainer{
        display: flex;
    }

    .announcements{
        width: 33.3%;
        
    }

    .loginhead {
        width: 33.3%;
    }

    .discordinvite{
        width: 33.3%;
    }

    .discordwidget{
        width: 100%;
        
    }

}