html {
    font-family: 'Sansita Swashed', cursive;
    background-color: rgb(196,196,196) ;
}

h1 {
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(45deg, blue, purple);
    padding: 20px;
    width: 100%
}

.loginhead {
    
    text-align:center ;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    width: 50%;
    display:inline-block;
}

.username {
    border-radius: 20px;
    height: 25px;
    width: 40%;
    outline: none;
    
}

.password {
    border-radius: 20px;
    height: 25px;
    width: 40%;
    outline: none;
}





.inputpassword {
    text-align: center; 
}

.usernamehead{
    position: relative;
    right: 110px;
    
}


.passwordhead{
    position: relative;
    right: 110px;
}

.Welcomehead {
    border: solid;
    border-radius: 20px;
    background-color: azure;
    padding: 20px;
    position: relative;
    down: 100px;
}


.logIn_button {
    border-radius: 20px;
    height: 35px;
    width: 100px;
    background: linear-gradient(45deg, blue, purple);
    font-family: 'Sansita Swashed', cursive ; 
    font-weight: bold;
    outline: none;  


}

.news{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    
    margin-left: 12px;
    text-align: center; 

    width:50%;

    
}


.news1 {
    text-align: left;
    background-color:  rgb(196,196,196) ;
    border-radius: 20px;
    padding: 20px;
    border-radius: 20px;
    border: solid;

    
}

.news1container {
    display: flex;
}