html {
    font-family: 'Sansita Swashed', cursive;
    background-color: rgb(196,196,196) ;
}

h1 {
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(45deg, blue, purple);
    padding: 20px;
}

.loginhead {
    text-align:center ;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    
}

.username {
    border-radius: 20px;
    height: 25px;
    width: 300px
}

.password {
    border-radius: 20px;
    height: 25px;
    width: 300px
}





.inputpassword {
    text-align: center; 
}

.usernamehead{
    position: relative;
    right: 110px;
    
}


.passwordhead{
    position: relative;
    right: 110px;
}

.Welcomehead {
    border: solid;
    border-radius: 20px;
    background-color: azure;
    padding: 20px;
    position: relative;
    down: 100px;
}

