.heading{
    text-align: center;
    background-image: linear-gradient(45deg,aquamarine ,rgb(52, 151, 218), rgb(8, 230, 8)) ;
    border-radius: 20px;
    padding: 20px;
}



@media screen and (max-width: 800px) {
   
    .logandnewscontainer{
        display: inline;
    }

    .announcements{
        width: 100%;
        
    }

    .loginhead {
        width: 100%;
    }


  }