html {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}



img {
    background-color: blue;
    float: right;
    border-radius: 20px;
    padding: 20px;
    border: solid;
    border-radius: 20px 0 20px 0;
  
}

.heading {
    text-align: center;
    background-image: linear-gradient(45deg,aquamarine ,rgb(52, 151, 218), rgb(8, 230, 8)) ;
    border-radius: 20px;
    padding: 20px;
}

h1 {
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}


.cat {
    text-align: center;
    background-color: rgb(51, 51, 59);
    color: white;
}
footer {
    text-align: center;
    border-radius: 20px;
    background-color: rgb(51, 51, 59);
    color: white;
    
}