html {
    background-color:rgb(196, 196, 196);
    font-family: 'Sansita Swashed', cursive;

}



img {
    
    float: right;
    border-radius: 20px;
    margin: 20px;
    border: solid;
    border-radius: 20px 0 20px 0;
    width: 200px;
    height: 200px;
}

.heading {
    text-align: center;
    background-image: linear-gradient(45deg,aquamarine ,rgb(52, 151, 218), rgb(8, 230, 8)) ;
    border-radius: 20px;
    padding: 20px;
}

h1 {
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}


.cat {
    text-align: center;
    background-color: white;
    border-radius: 20px;

}
